<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emperorUpgradeJudicious</key>
	<string>false</string>
	<key>delay</key>
	<string>0</string>
	<key>areaExtractChic</key>
	<string>false</string>
	<key>expenditureManageAttractive</key>
	<string>false</string>
	<key>loungeRescueDirectMap</key>
	<string>continueDefineIdeal</string>
	<key>dowithoutRespondDistinctShipping</key>
	<string>false</string>
</dict>
</plist>
